p{
    font-family: 'Poppins', sans-serif;
}
#pad-h1{
    font-size: 70px;
    padding-left: 15px;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.yellowgreen-color{
    color:yellowgreen;
}
.half-width-1{
    width: 50%;
    padding-left: 150px;
    margin-top: 150px;
}
#design-2022-border{
    border-left: 5px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
.style-explore{
    text-decoration: none;
    background-image: linear-gradient(blue,gray);
    color:white;
    border-radius: 10px;
    padding: 10px 40px;
}
.center-align{
text-align: center;
}
.illustrator-height{
    height: 180px;
}


#mission{
    background-color:rgb(79, 157, 166);
    width: 20%;
    padding-left: 10px;
    margin-left: 150px;
}
#vission{
    background-color:rgb(255, 89, 89);
    width: 20%;
    margin-left: 150px;
    padding-left: 10px;
}
#goals{
    background-color:rgb(255, 224, 214);
    width: 20%;
    margin-left: 150px;
    padding-left: 10px;
}
.img-height{
    height: 500px;
}

.develop-without-limits{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 35px 170px;
}
.half-width-2{
    width: 80%;
    margin-top: 170px;
    padding-right: 200px;
}

.half-width-3{
    width: 80%;
    padding-left: 140px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
}
.half-width-standard{
    width: 50%;
}
.site-footer{
    background-color: black;
    height: 200px;
    padding-top: 20px;
}
#white-text-footer{
    color: white;
}
#red-text-footer{
    color:red;
}
#Lobster-font-footer{
    font-family: 'Lobster', cursive;
    font-size:40px ;
}
